@using BusnLogicBW
@model RegisterTeamViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center">

    <form asp-action=Index method="POST">
        <h1>Maak een team aan!</h1><br />
        <table class="tabel">
            <tr>
                <td>TeamNaam</td>
                <td><input asp-for=Naam></td>
            </tr>
            <div class="col-md-12">
                @if (ViewData["ZelfdeNaam"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["ZelfdeNaam"]
                    </div>
                }
            </div>
            <tr>
                <td>Beschrijving</td>
                <td><input asp-for=Beschrijving required></td>
            </tr>
            <td>1ste teamgenoot</td>
            <td>
                <select asp-for=Teamspeler2>
                    
                    @foreach (Gebruiker gebruiker in @Model.gebruikers)
                    {
                        if (gebruiker.PlannerNaam == Context.Session.GetString("PlannerNaam"))
                        {

                        }
                        else
                        {
                            <option>@gebruiker.PlannerNaam</option>
                        }
                    }
                </select>
                @Html.HiddenFor(m => m.Teamspeler2.ID)
            </td>
            <td>2de teamgenoot</td>
            <td>
                <select asp-for=Teamspeler3>
                    
                  
                    @foreach (Gebruiker gebruiker in Model.gebruikers)
                    {
                        if (gebruiker.PlannerNaam == Context.Session.GetString("PlannerNaam"))
                        {

                        }
                        else
                        {
                            <option>@gebruiker.PlannerNaam</option>
                        }
                    }
                </select>
                @Html.HiddenFor(m => m.Teamspeler3.ID)
            </td>
            <div class="col-md-12">
                @if (ViewData["ZelfdeTeamMate"] != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewData["ZelfdeTeamMate"]
                    </div>
                }
            </div>
        </table>
        <div class="d-flex justify-content-center">
            <input type="submit" value="Maak team!">
        </div>
    </form>
</div>